.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.description {
  text-align: center;
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 2.5rem;
  color: #0a2540;
}

.grid {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 80%;
  list-style: none;
  height: stretch;
  padding-inline-start: 0;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: #0a2540;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

@media (min-width: 960px) {
  .card {
    flex-basis: calc(25% - 2rem);
  }
}

.card:hover,
.card:focus,
.card:active {
  border-color: #7c3aed;
}

.card h2 {
  margin: 0 0 0.5rem 0;
  font-size: 1.5rem;
}

.card p {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.button {
  color: white;
  font-family: inherit;
  font-size: 0.9em;
  font-weight: 700;
  background-color: #7c3aed;
  padding: 0.6rem 1.2rem;
  border-radius: 0.3rem;
  border: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.button:hover {
  transform: translateY(1px);
}

.cart {
  display: flex;
  list-style: none;
  padding: 0;
  font-size: 1.5rem;
}

.cart li {
  display: flex;
  align-items: center;
  margin: 0 0.5em;
}

.cart strong,
.cart svg {
  margin-right: 0.5em;
}

.cartButton {
  color: white;
  font-family: inherit;
  font-size: 0.9em;
  font-weight: 700;
  background-color: #7c3aed;
  padding: 0.6rem 1.2rem;
  border-radius: 0.3rem;
  border: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.cartButton:hover {
  transform: translateY(1px);
}
